@model IEnumerable<FinancialNotepad.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-column">
            <div class="d-flex mb-1">
                <div class="flex-grow-1">
                    <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                </div>
                <div>
                    <a class="btn btn-success action-btn-white" href="@ViewData["PageActionUrl"]">
                        @ViewData["PageActionText"]
                    </a>
                </div>
            </div>
                                        
        </div>
    </div>
</div>

<div class="row form-row">
    <div class="col-md-12">
        <ejs-grid id="transactions" dataSource="@Model" allowSorting="true" allowFiltering="true" allowExcelExport="true" 
                   allowPaging="true" allowSelection="true" allowGrouping="true" allowTextWrap="true" allowMultiSorting="true">
            <e-grid-groupsettings  showDropArea="false" showGroupedColumn="true" columns="@(new string[] { "Date"})"></e-grid-groupsettings>
            <e-grid-filtersettings mode="Immediate" showFilterBarOperator="true" type="Excel" showFilterBarStatus="true"></e-grid-filtersettings>
            <e-grid-pagesettings pageSize="20"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Date" field="Date" width="120px"
                               type="date" format="dd.MM.yyyy" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" textAlign="Center" width="140px"></e-grid-column>
                <e-grid-column headerText="Currency" field="Currency.Name" textAlign="Center" width="140px"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" textAlign="Center" width="100px"></e-grid-column>
                <e-grid-column headerText="Category" field="CategoryTitleAndIcon" textAlign="Center" width="200px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" textAlign="Center" width="80px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Income")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start edit-block">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg"></i>
            </button>
        </form>
    </div>
</script>

<!--
<e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
-->
